<!--#####################################
  # Informa que no existe dia
  #   HORARIO.vistahorario / HORARIO.index->
  #   show ->
  #   -> create 
######################################-->

<h1>Día nuevo</h1>
<hr/>
</br>



<table class="tabla">
 <tr class="letragrande">
  <td><p>
    <b>Zona:</b>
    <%= @zona.nombre %>
  </p></td>

  <td><p>
    <b>Fecha:</b>
    <%= $fecha %>
  </p></td>
 </tr>
</table>


<!------------------------------------
Cambio zona: tareas, informes (dia)
-------------------------------------->
<% if @Ocu== 1 || @Ocu==3 || @Ocu==4 || @Ocu==5 %>
  <select onchange="window.location.href = this.value">
    <option value="">Zona</option>
    <% @zonas.each do |zona| %>
      <option value="/diarios/show?fecha=<%=$fecha%>&zona=<%=zona.id%>"><%=zona.nombre%></option>
    <%end%>
  </select>
<% end %>
</br>
</br>


<%= form_for(@diario) do |f| %>
  <% if @diario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diario.errors.count, "error") %> prohibited this diario from being saved:</h2>

      <ul>
      <% @diario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<!--SI ZONA LIMPIADORES O EXTERNO PRESENTACIÓN DIFERENTE, CREATE SI TAREAS DEL DIA-->
<% if @zona.id==11 || @zona.id== 1 %>

  <% if (current_persona.ocupacion_id==1 || current_persona.ocupacion_id==3 || current_persona.ocupacion_id==4 )%>

   <p>
   <nav class="botonera2">
         <!--create-->
         <%= f.submit value="Editar tareas dia", :class => 'boton2verdeder' %>
   </nav>
   </p>
  <% end %>
  </br>

  <div class="roundB">

    <ul><p> 
    <b>Tareas dia:</b>    
    </br>
    <% if !@diario.tareasdia.nil? && !@diario.tareasdia.empty? %>
      <%= markdown @diario.tareasdia %>
    <% else %>
      <%= simple_format h @diario.tareasdia %>
    <% end %>
    </p></ul>
 
  </div></br></br>

<% else %>

  <% if (@persona.ocupacion_id==1 || @persona.ocupacion_id==3) && @persona.zona_id == @zona.id %>

    <p><nav class="botonera4">
         <!--create-->
         <%= f.submit value="Crear Informes/Tareas dia", :class => 'boton2verde' %>
    </nav></p>
    </br>

    <div class="roundB">
      <%= "No existen Tareas del dia ni Informes guadados para esta zona y fecha" %>
      </br> 
      <%= "Desea crear Tareas del dia o Informes nuevos?  "%> 
   </div>
   </br>

  <% else %>

   <p><nav class="botonera5">
         <%= f.submit value="Crear Informes", :class => 'boton2verdeder' %>
   </nav></p>
   </br>

   <div class="roundB">
      <%= "No existen Tareas del dia ni Informes guadados para esta zona y fecha" %>
      </br> 
      <%= "Desea crear Informes nuevos?  "%>
   </div>
   </br>

  <% end %>

<% end %>

<% end %>

</br>

<!--tareas zonas-->

     <% if ((current_persona.ocupacion_id==1 || current_persona.ocupacion_id==3 ) && (current_persona.zona_id == @zona.id || @zona.id==11))%>

       <p>
       <nav class="botonera2">
           <a href="/editar_tareas?zona=<%=@zona.id%>" class="boton2verdeder enlaceb">Editar tareas Zona</a>
       </nav>
       </p>

   <% end %>
   </br>


  <% if !@zona.tareas.nil? && !@zona.tareas.empty? %>

   <div class="roundB">
   <ul><p>
     <b>Tareas Zona:</b>
     <%= markdown @zona.tareas %>
   </p></ul>
   </div>

  <% else %>

   <div class="roundB">
   <ul><p>
     <b>Tareas Zona:</b>
     <%= simple_format h @zona.tareas %>
   </p></ul>
   </div>

  <% end %>
  </br>

<!--fin tareas zonas-->


<a href="/horarios?month=<%=$fecha%>&zona=<%=@zona.id%>">Calendario</a>
